:root {
    --white: #fff;
    --nav_color: #0e1d33;
    --animatiom_nav_color: #0a3b74;
    --cor_de_fundo: #1d1c1c;
    --cor_do_rodape: #292828;

}

body {
    background-color: var(--cor_de_fundo)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */


body{
    background-color: var(--cor_de_fundo);
}
nav {
    display: flex;
    background-color: var(--nav_color);
    height: 100px;
}

.titulo {
    color: var(--white);
    margin-left: 80px;
    margin-top: 36px;
    font-size: 25px
}

.logo{
    margin-top: 10px;
    width: 70px;
    margin-left: 100px;
    height: 80px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav_color);
    margin-left: 600px;
}

.menu_list {
    margin-right: 40px;
}

.menu_link {
    color: var(--white);
    font-size: 20px;
}

.menu_link:after {
    content: '';
    width: 0;
    background-color: var(--animatiom_nav_color);
    display: block;
    height: 3px;
    transition: width 0.3s ease;
}

.menu_link:hover::after {
    width: 100%;
}

.button {
    min-width: 30px;
    min-height: 40px;
    display: inline-flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 550;
    background: var(--animatiom_nav_color);
    border: none;
    border-radius: 500px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button::before {
    content: '';
    border-radius: 500px;
    box-shadow: 0 0 60px var(--animatiom_nav_color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, 
  .button:focus {
    transform: translateY(-6px);
  }
  
/* SERVIÇOS E PRODUTOS */

.title {
    padding: 10px;
    padding-top: 60px;
    padding-left: 30px;
    color: var(--white);
}



.servicos-oferecidos {
    display: flex;
    flex-wrap: wrap; /* Faz com que as imagens se reorganizem em várias linhas se necessário */
    justify-content: center; /* Distribui as imagens com espaço entre elas */
    gap: 17px; /* Espaço entre as imagens */
}

.servico-prod {
    padding-bottom: 10rem;
}


.teste-servicos {
    padding-top: 30px;
    flex: 0 1 calc(19% - 10px); /* Cada imagem ocupa 25% da largura, menos o espaço de gap */
    box-sizing: border-box;
}

.teste-servicos img {
    width: 100%; /* A imagem ocupa toda a largura do bloco */
    height: 100%; /* Mantém a proporção da imagem */
    display: inline-block; /* Remove espaço branco abaixo da imagem */
    border-radius: 10px; /* Arredonda os cantos da imagem (opcional) */
    transition: transform 0.3s ease; /* Animação suave ao passar o mouse */
}

.teste-servicos img:hover {
    transform: scale(1.05);
}

.produtos {
    padding-top: 30px;
    flex: 0 1 calc(19% - 3px); /* Cada imagem ocupa 25% da largura, menos o espaço de gap */
    box-sizing: border-box;
    margin: 2px;
    text-align: center;
}

.produtos img {
    width: 77%; /* A imagem ocupa toda a largura do bloco */
    height: 52%; /* Mantém a proporção da imagem */
    display: inline-block; /* Remove espaço branco abaixo da imagem */
    border-radius: 10px; /* Arredonda os cantos da imagem (opcional) */
    transition: transform 0.3s ease; /* Animação suave ao passar o mouse */
}

.produtos img:hover {
    transform: scale(1.01);
}

.produto-descricao {
    color: var(--white);
}

/* FOOTER */

footer {
    width: 100%;
    color: var(--white);
}

.footer-link {
    text-decoration: none;
    font-size: 20px;
}

#footer_content {
    background-color: var(--cor_do_rodape);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts {
    margin-left: 30%;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--white);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
    background-color: var(--animatiom_nav_color);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--white);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: var(--animatiom_nav_color);
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--cor_do_rodape);
    font-size: 1rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        padding: 3rem 2rem;
    }
}