:root {
    --cor-background: #1d1c1c;
    --branco-letra: #ffffff;
}

body {
    background-color: var(--cor-background)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.cabecalho {
    background-color: blueviolet;
    width: 100%;
    height: 75px;
    overflow: hidden;
}

.features {
    color: var(--branco-letra);
    font-size: 18px;
    float: right;
    margin: 30px;
    text-transform: uppercase;
}

.features-item {
    display: inline;
    padding-right: 15px;
}

.botao-login {
    font-size: 18px;
}

.title {
    padding: 15px;
    color: var(--branco-letra);
}

    /* Tirar características feias dos links do header */
a {
    color: unset;
    text-decoration: inherit;
}

.servicos-oferecidos {
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-bottom: 60px;
}

.teste-servicos {
    display: inline-block;
    height: 200px;
    width: 200px;
    background: white;
    margin: 15px;
}
