* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

.cabecalho {
    background-color: blueviolet;
    width: 100%;
    height: 75px;
    overflow: hidden;
}

.features {
    color: white;
    font-size: 18px;
    float: right;
    margin: 30px;
    text-transform: uppercase;
}

.features-item {
    display: inline;
    padding-right: 15px;
}

.botao-login {
    font-size: 18px;
}

    /* Tirar características feias dos links do header */
a {
    color: unset;
    text-decoration: inherit;
}